{
  "env": {
        "browser": true,
        "node": true,
        "mocha": true
  },
  "rules": {
    "no-useless-computed-key": 0,
    "no-useless-escape": 0,
    "no-unsafe-finally": 0,
    "no-duplicate-imports": 0
  },
  "extends": ["standard", "standard-jsx"]
}